src/pages/main.pug
extends ../templates/template.pug
block content
  section.section.section__top
    header.header
      .container
        .row
          .col
            .header__top
              .logo
                a(href="index.html")
                  img(src="./img/logo.svg" alt="")
              .phone
                .phone__number: span 33-5555
                .phone__button
                  button.button.button--transparent Заказать звонок
        .row
          .col
            .header__bottom
              .slider.js-slider
                +slider__slide({
                  title: "Состав Setl Group",
                  content: "В состав Setl Group входит собственный застройщик Setl City и эксклюзивный продавец «Петербургская Недвижимость»",
                  button: "Купить квартиру мечты"
                })
                +slider__slide({
                  title: "Состав Setl Group",
                  content: "В состав Setl Group входит собственный застройщик Setl City и эксклюзивный продавец «Петербургская Недвижимость»",
                  button: "Купить квартиру мечты"
                })
                +slider__slide({
                  title: "Состав Setl Group",
                  content: "В состав Setl Group входит собственный застройщик Setl City и эксклюзивный продавец «Петербургская Недвижимость»",
                  button: "Купить квартиру мечты"
                })
                +slider__slide({
                  title: "Состав Setl Group",
                  content: "В состав Setl Group входит собственный застройщик Setl City и эксклюзивный продавец «Петербургская Недвижимость»",
                  button: "Купить квартиру мечты"
                })
  section.section.pt-100.mt-20
    main  
      .container
        .row
          .col-xs-12.col-md-8
            .developer
              .developer__logo
                img(src="./img/developer1.svg" alt="")
              .developer__text Квартира от надежного застройщика
            .advantages
              +advantage({
                logo: "adv1.svg",
                title: "Только надежные застройщики",
                text: "<span class='color-red'>«Петербургская Недвижимость»</span> реализует более 150 объектов от 40 застройщиков, 15 из них – на эксклюзивных условиях. Это самый широкий выбор квартир в Санкт-Петербурге и в Ленинградской области, а также в Калининграде."
              })
              +advantage({
                logo: "adv2.svg",
                title: "0% комиссия",
                text: "Все услуги компании для клиентов бесплатны. Продаем квартиры напрямую от застройщиков, без переплат со стороны покупателя и каких-либо комиссий."
              })
              +advantage({
                logo: "adv3.svg",
                title: "Ипотека от ведущих банков",
                text: "Сотрудничаем с 30 крупнейшими банками России. Для клиентов – особые преимущества: сниженный процент по ипотеке, единая анкета для всех банков-партнеров и ускоренное рассмотрение заявки."
              })
              +advantage({
                logo: "adv4.svg",
                title: "Принцип одного окна",
                text: "Подбор квартиры и ипотека, подбор программы страхования, а также консультации юриста на всех этапах и Клиентская служба сервиса – все в одном офисе «Петербургской Недвижимости»."
              })
              +advantage({
                logo: "adv5.svg",
                title: "А еще: ",
                text: "<ul class='advantage__list'><li>Скидки региональным покупателям</li><li>Личный кабинет на сайте с онлайн-бронированием квартир</li><li>Клуб привилегий ПН только для наших клиентов.</li></ul>  "
              })
            .stats
              +stat({
                name: "2500+",
                text: "Квартир продаем каждый месяц",
              })
              +stat({
                name: "308 000",
                text: "Семей купили квартиру у нас",
              })
              +stat({
                name: "43",
                text: "Представительства в России",
              })
              +stat({
                name: "5",
                text: "Городов присутствия",
              })
              +stat({
                name: "30",
                text: "Банков-партнеров",
              })
            .developer
              .developer__logo
                img(src="./img/developer2.svg" alt="")
              .developer__text.developer__text--offset Ведущий застройщик Санкт-Петербурга
            .description
              p Девелопер 
                span.color-red Setl City 
                | входит в тройку крупнейших строительных компаний России. Высокие стандарты строительства, благоустройства и отделки квартир, которые применяет компания, стали отличительным знаком всех жилых комплексов от Setl City. Компания работает во всех сегментах: «комфорт», «высокий комфорт», «бизнес» и «премиум».  
            .awards
              +award({
                logo: "award1.png",
                text: "Премия КАИССА-2018 <br>«Лучший проект комфорт-класса»"
              })
              +award({
                logo: "award2.png",
                text: "Золотой знак <br>«Надежный застройщик-2018»"
              })
              +award({
                logo: "award3.png",
                text: "Федеральная премия RREF Awards-2018. <br>«Комфортная среда (регионы России)»"
              })
          .col-sm-12.col-md-4
            .sticky.clearfix
              .sticky--black ипотека
              .sticky--gray первый взнос
              .sticky--red Н0ЛЬ рублей
              .sticky--grayline вот это да!
              .sticky__button 
                button.button.button--red Выбрать квартиру мечты
  section.section.section__bottom
    .container
      .row
        .col-12
          .buy
            .buy__title Купить квартиру мечты
            .buy__form
              form.form(action="#")
                input.form__num(type="tel" placeholder="Ваш номер телефона")
                button.form__button Заказать звонок
            .buy__callback Мы перезвоним вам за 2 минуты
            .buy__time
              a Выбрать удобное время
  footer.footer
    .container
      .row
        .col-xs-12.col-md-6
          .copyright ©2019, Setl Group. Все права защищены
        .col-xs-12.col-md-6
          .social
            img.social__img(src="./img/social.png" alt="")

build/main.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css?version=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <section class="section section__top">
      <header class="header">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="header__top">
                <div class="logo"><a href="index.html"><img src="./img/logo.svg" alt=""></a></div>
                <div class="phone">
                  <div class="phone__number"><span>33-5555</span></div>
                  <div class="phone__button">
                    <button class="button button--transparent">Заказать звонок</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="header__bottom">
                <div class="slider js-slider">
                    <div class="slider__slide">
                      <div class="slider__title">Состав Setl Group</div>
                      <div class="slider__text">В состав Setl Group входит собственный застройщик Setl City и эксклюзивный продавец «Петербургская Недвижимость»</div>
                      <div class="slider__button">
                        <button class="button">Купить квартиру мечты</button>
                      </div>
                    </div>
                    <div class="slider__slide">
                      <div class="slider__title">Состав Setl Group</div>
                      <div class="slider__text">В состав Setl Group входит собственный застройщик Setl City и эксклюзивный продавец «Петербургская Недвижимость»</div>
                      <div class="slider__button">
                        <button class="button">Купить квартиру мечты</button>
                      </div>
                    </div>
                    <div class="slider__slide">
                      <div class="slider__title">Состав Setl Group</div>
                      <div class="slider__text">В состав Setl Group входит собственный застройщик Setl City и эксклюзивный продавец «Петербургская Недвижимость»</div>
                      <div class="slider__button">
                        <button class="button">Купить квартиру мечты</button>
                      </div>
                    </div>
                    <div class="slider__slide">
                      <div class="slider__title">Состав Setl Group</div>
                      <div class="slider__text">В состав Setl Group входит собственный застройщик Setl City и эксклюзивный продавец «Петербургская Недвижимость»</div>
                      <div class="slider__button">
                        <button class="button">Купить квартиру мечты</button>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    </section>
    <section class="section pt-100 mt-20">
      <main> 
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-8">
              <div class="developer">
                <div class="developer__logo"><img src="./img/developer1.svg" alt=""></div>
                <div class="developer__text">Квартира от надежного застройщика</div>
              </div>
              <div class="advantages">
                  <div class="advantage">
                    <div class="advantage__logo"><img class="advantage__img" src="./img/adv1.svg" alt=""></div>
                    <div class="advantage__description">
                      <div class="advantage__title">Только надежные застройщики</div>
                      <div class="advantage__text"><span class='color-red'>«Петербургская Недвижимость»</span> реализует более 150 объектов от 40 застройщиков, 15 из них – на эксклюзивных условиях. Это самый широкий выбор квартир в Санкт-Петербурге и в Ленинградской области, а также в Калининграде.</div>
                    </div>
                  </div>
                  <div class="advantage">
                    <div class="advantage__logo"><img class="advantage__img" src="./img/adv2.svg" alt=""></div>
                    <div class="advantage__description">
                      <div class="advantage__title">0% комиссия</div>
                      <div class="advantage__text">Все услуги компании для клиентов бесплатны. Продаем квартиры напрямую от застройщиков, без переплат со стороны покупателя и каких-либо комиссий.</div>
                    </div>
                  </div>
                  <div class="advantage">
                    <div class="advantage__logo"><img class="advantage__img" src="./img/adv3.svg" alt=""></div>
                    <div class="advantage__description">
                      <div class="advantage__title">Ипотека от ведущих банков</div>
                      <div class="advantage__text">Сотрудничаем с 30 крупнейшими банками России. Для клиентов – особые преимущества: сниженный процент по ипотеке, единая анкета для всех банков-партнеров и ускоренное рассмотрение заявки.</div>
                    </div>
                  </div>
                  <div class="advantage">
                    <div class="advantage__logo"><img class="advantage__img" src="./img/adv4.svg" alt=""></div>
                    <div class="advantage__description">
                      <div class="advantage__title">Принцип одного окна</div>
                      <div class="advantage__text">Подбор квартиры и ипотека, подбор программы страхования, а также консультации юриста на всех этапах и Клиентская служба сервиса – все в одном офисе «Петербургской Недвижимости».</div>
                    </div>
                  </div>
                  <div class="advantage">
                    <div class="advantage__logo"><img class="advantage__img" src="./img/adv5.svg" alt=""></div>
                    <div class="advantage__description">
                      <div class="advantage__title">А еще: </div>
                      <div class="advantage__text"><ul class='advantage__list'><li>Скидки региональным покупателям</li><li>Личный кабинет на сайте с онлайн-бронированием квартир</li><li>Клуб привилегий ПН только для наших клиентов.</li></ul>  </div>
                    </div>
                  </div>
              </div>
              <div class="stats">
                  <div class="stat">
                    <div class="stat__name">2500+</div>
                    <div class="stat__text">Квартир продаем каждый месяц</div>
                  </div>
                  <div class="stat">
                    <div class="stat__name">308 000</div>
                    <div class="stat__text">Семей купили квартиру у нас</div>
                  </div>
                  <div class="stat">
                    <div class="stat__name">43</div>
                    <div class="stat__text">Представительства в России</div>
                  </div>
                  <div class="stat">
                    <div class="stat__name">5</div>
                    <div class="stat__text">Городов присутствия</div>
                  </div>
                  <div class="stat">
                    <div class="stat__name">30</div>
                    <div class="stat__text">Банков-партнеров</div>
                  </div>
              </div>
              <div class="developer">
                <div class="developer__logo"><img src="./img/developer2.svg" alt=""></div>
                <div class="developer__text developer__text--offset">Ведущий застройщик Санкт-Петербурга</div>
              </div>
              <div class="description">
                <p>Девелопер <span class="color-red">Setl City </span>входит в тройку крупнейших строительных компаний России. Высокие стандарты строительства, благоустройства и отделки квартир, которые применяет компания, стали отличительным знаком всех жилых комплексов от Setl City. Компания работает во всех сегментах: «комфорт», «высокий комфорт», «бизнес» и «премиум».  </p>
              </div>
              <div class="awards">
                  <div class="award">
                    <div class="award__logo"><img src="./img/award1.png" alt=""></div>
                    <div class="award__text">Премия КАИССА-2018 <br>«Лучший проект комфорт-класса»</div>
                  </div>
                  <div class="award">
                    <div class="award__logo"><img src="./img/award2.png" alt=""></div>
                    <div class="award__text">Золотой знак <br>«Надежный застройщик-2018»</div>
                  </div>
                  <div class="award">
                    <div class="award__logo"><img src="./img/award3.png" alt=""></div>
                    <div class="award__text">Федеральная премия RREF Awards-2018. <br>«Комфортная среда (регионы России)»</div>
                  </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="sticky clearfix">
                <div class="sticky--black">ипотека</div>
                <div class="sticky--gray">первый взнос</div>
                <div class="sticky--red">Н0ЛЬ рублей</div>
                <div class="sticky--grayline">вот это да!</div>
                <div class="sticky__button"> 
                  <button class="button button--red">Выбрать квартиру мечты</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </section>
    <section class="section section__bottom">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="buy">
              <div class="buy__title">Купить квартиру мечты</div>
              <div class="buy__form">
                <form class="form" action="#">
                  <input class="form__num" type="tel" placeholder="Ваш номер телефона">
                  <button class="form__button">Заказать звонок</button>
                </form>
              </div>
              <div class="buy__callback">Мы перезвоним вам за 2 минуты</div>
              <div class="buy__time"><a>Выбрать удобное время</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="copyright">©2019, Setl Group. Все права защищены</div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="social"><img class="social__img" src="./img/social.png" alt=""></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/scripts.js?version=1"></script>
  </body>
</html>
